* {
    box-sizing: border-box;
}

#parent-container {
    display: grid;
    margin-top: 100px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#board-container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
