* {
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

#parent-container {
    display: grid;
    margin-top: 100px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#start-menu {
    grid-column: 2 / 3;
}

#start-menu form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    font-size: 1.5rem;
    justify-items: center;
}

input {
    font-size: 1.5rem;
    width: 60%;
}

#start-game {
    align-self: center;
    justify-self: center;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
}

#board-container {
    grid-column: 2 / 3;
    height: 500px;
    width: 500px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.board-cell {
    font-size: 8rem;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-panel {
    grid-column: 3 / 4;
    font-size: 2rem;
    display: none;
    padding: 30px;
}

#win-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

#win-dialog {
    font-size: 1.2rem;
    text-align: center;
}

#new-round , #new-game {
    font-size: 1.2rem;
    width: 150px;
    height: 50px;
}

#win-announcement {
    font-size: 1.6rem;
}